<div class = "toolbar toolbar-ceneo">
    <p>Masz <strong>{{ not_mapped_attributes | length }}</strong> atrybutów sugerowanych przez Ceneo dla tego produktu. <a href = "#" data-attributes='{{ not_mapped_attributes | json_encode }}'>Dodaj je teraz</a>.</p>
</div>
